body{ 
    width: 100vw!important;
    height: 100vh!important;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6e90ce, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64cacf, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container { 
    /* background: rgba(19, 19, 19, 0.164); */
    text-align: center;
    margin-top: 5%;
    border-radius: 10px;
    color: white;
}

body > div.container > div:nth-child(2){
    display: flex;
    justify-content: center;
}

span {
    content: "\00B0";
}

.jumbo { 
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6e90ce, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64cacf, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#weather_icon{ 
    color: white;
}

/* Spacing for items */

.temperature { 
    margin-top: 50px;
}

.location { 
    margin-top: 50px;
}
.description { 
    margin-top: 50px;
}

